body, div, h1, h2, h3, h4, h5, h6
{
	margin: 0px;
	padding: 0px;
}


#header, #main, #sidebar, #content, #footer
{
	border: solid 1px green;
}

#header, #footer
{
	height: 50px;
}


#header, #sidebar
{
	background-color: #ccc;
}


#header, #sidebar
{
	background-color: yellow;
}

#content, #sidebar
{	
	height: 600px;
	display: inline-block;
	vertical-align: top;
}

#sidebar
{
	width: 200px;
}

#content
{
	width: 600px;
}

/* This is a comment block for css. Any thing in this block will not be rendered in the browser. */
.orange-bg
{
	/* background-color: orange; */
}

